<div class="container">

<h1>Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<!-- <p>
  <a href="/places/new">New place</a>
</p> -->

<p>
  <button type="button" class="btn btn-success"><a href="/places/new"class="link-light">New place</a></button>
</p>